<template name="home">
    {{> sidebar}}
    <div id="map" class="sidebar-map"></div>
</template>

<template name="sidebar">
    <div id="sidebar" class="sidebar collapsed">
        <!-- Nav tabs -->
        <ul class="sidebar-tabs" role="tablist">
            <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
            <li><a href="#faq" role="tab"><i class="fa fa-question"></i></a></li>
        </ul>

        <!-- Tab panes -->
        <div class="sidebar-content active">
            <div class="sidebar-pane" id="home">
                <h2>Đang cập nhật tính năng...</h2>
            </div>
            <div class="sidebar-pane" id="faq">
                <h2>Hỏi và đáp</h2>
                <ol>
                    <li>
                        <b>Nguồn dữ liệu bạn lấy ở đâu?</b><br>
                        Tôi lấy từ website <a target="_blank" href="http://www.hienmau.vn/DonateBloodWeb/BloodBank/Event/ListPosWebsite.aspx">hienmau.vn</a>
                    </li>
                    <li>
                        <b>Một số địa điểm trên bản đồ có vẻ không chính xác?</b><br>
                        Tôi dùng bản đồ <a target="_blank" href="https://www.openstreetmap.org">Open Street Map</a> nên dữ liệu trên bản đồ sẽ không đầy đủ bằng Google Map và quan trọng nữa là 1 vài địa hiểm hiến máu từ website <a target="_blank" href="http://www.hienmau.vn/DonateBloodWeb/BloodBank/Event/ListPosWebsite.aspx">hienmau.vn</a> cũng khá chung chung nên tôi cũng chỉ ước lượng được toạ độ.
                    </li>
                    <li>
                        <b>Tại sao chỉ có dữ liệu ở Hà Nội?</b><br>
                        Tôi chỉ biết lấy dữ liệu từ website <a target="_blank" href="http://www.hienmau.vn/DonateBloodWeb/BloodBank/Event/ListPosWebsite.aspx">hienmau.vn</a> nên không có dữ liệu ở các tỉnh thành khác.
                    </li>
                    <li>
                        <b>Tôi muốn tham gia cập nhật dữ liệu được không?</b><br>
                        Tất nhiên là được, một mình tôi cũng không thể nhập liệu hằng ngày được, nếu có đầy đủ dữ liệu địa điểm hiến máu trên cả nước
                    </li>
                    <li>
                        <b>Website này sẽ miễn phí chứ?</b><br>
                        Vâng, mãi mãi miễn phí.
                    </li>
                    <li>
                        <b>Mọi chi tiết xin liên hệ : </b> <a href="mailto:nguyenxuancong@outlook.com">nguyenxuancong@outlook.com</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</template>