<template name="insertLocationForm">
    <div class="row">
        <div class="col-md-8">
            {{#autoForm collection="Locations" id="insertLocationForm" type="insert"}}
                <fieldset>
                    <legend>Thêm địa điểm</legend>
                    <div class="form-group">
                        <label for="availableRange" class="control-label">Thời gian</label>
                        <input type="text" name="availableRange" id="availableRange" class="form-control">
                    </div>
                    {{> afQuickField name='name'}}
                    {{> afQuickField name='description' rows=6}}
                    {{> afQuickField name='LatLng'}}
                    {{> afQuickField name='radius' value=200}}
                </fieldset>
                <button type="submit" class="btn btn-primary">Lưu lại</button>
            {{/autoForm}}
        </div>
    </div>
</template>