<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Bản đồ địa điểm hiến máu theo từng ngày">
    <meta name="author" content="cong.nx@sunrisevietnam.com">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <title>Địa điểm hiến máu theo ngày</title>
</head>

<template name="mainLayout">
    {{> Template.dynamic template=main}}
</template>

<template name="adminLayout">
    {{#if currentUser.isManager}}
    <div class="container">
        {{> Template.dynamic template=top}}
        {{> Template.dynamic template=main}}
    </div>
    {{/if}}
</template>

<template name="blankLayout">
    <div class="container">
        {{> Template.dynamic template=main}}
    </div>
</template>

<template name="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Hiến máu</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/admin">Bảng tin</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">{{currentUser.profile.fullName}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-sign-out"></i> Đăng xuất</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</template>

<template name="footer">
    <div class="row">
        <div class="col-md-12">
            FOOTER
        </div>
    </div>
</template>

